.Calculadora{
    display: block;
    margin: auto;
    padding: 20px;
    background-color: #34a5a5;
    width: 350px;
    height: 550px;
    border-radius: 25px;
}

.Calculadora td button{
    display:block;
    width: 70px;
    height: 70px;
    font-size: 30px;
}

#Resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 25px;
    overflow-y: scroll;
}
h2{
    text-align: center;
    color: blanchedalmond;
    background-color: rgb(0, 174, 255);
    margin: 30px;
    display: block;
    padding: 20px;
    border-radius: 25px;
    
    

}

body {
    background-image: linear-gradient(rgb(0, 197, 187),black );
    background-size:400% 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
}